/* Buttons
----------------------------------------------------------------------------- */

.btn {
  h5 {
    margin: 0;
  }
}

.btn-brown {
  color: #fff;
  background-color: $brown;
  border-color: $brown;
}

.btn-brown:hover {
  color: #fff;
  background-color: $black;
  border-color: $black;
}

.btn-brown:focus, .btn-brown.focus {
  color: #fff;
  background-color: $black;
  border-color: $black;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-brown.disabled, .btn-brown:disabled {
  color: #fff;
  background-color: $brown;
  border-color: $brown;
}

#subscribe-form {
  .form-control {
    border: 1px solid $white;
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
  }
}
.joinus.col-md-3 {
  max-width: 23.8%;
}
.joinus.offset-md-3 {
  margin-left: 22.6%;
  margin-top: -50px;
}
.joinus {

  h3 {
    background-color: $brown;
    color: $white;
    text-align: center;
    padding: .3em .2em;
	font-size: 3rem;
  }
}
