/** Default Template CSS
-------------------------------------------------------------------- */

.narrow-content {
  header {
	width: 50%;
	margin: 0 auto;
  }
  .entry-content {
	width: 50%;
	margin: 0 auto;
  }

}
