/** SCSS for Donations
------------------------------------------ */
@media (min-width: 1200px) {
  .narrow-donation {
	.entry-content {
	  #give-form-23152-wrap,
	  .give-form-content-wrap,
	  .give-form-content-wrap p,
	  .give-form {
		width: 70%;
		margin: 0 auto;

		h2 {
		  width: 100%;
		  margin-bottom: 1em;
		}
	  }

	  .give-wrap {
		width: 50%;
		margin: 0 auto;
	  }
	}

	.give-form-content-wrap p {
	  width: 100% !important;
	}
  }
}

.give-wrap {
  .give-card__body {
	padding: 1.5rem .5rem;
	min-height: 333px;

	h3 {
	  width: 100%;
	}

	p {
	  width: 100%;
	}
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
