/** SCSS for Donations
------------------------------------------ */

.narrow-donation {
  .entry-content {
	#give-form-23152-wrap {
	  width: 50%;
	  margin: 0 auto;
	  h2 {
		width: 100%;
		margin-bottom: 1em;
	  }
	}
	.give-wrap {
	  width: 50%;
	  margin: 0 auto;
	}
  }
}

.give-wrap {
  .give-card__body {
	padding: 1.5rem .5rem;

	h3 {
	  width: 100%;
	}

	p {
	  width: 100%;
	}
  }
}

