/* Footer Widgets
----------------------------------------------------------------------------- */
#genesis-footer-widgets {
   .wrap {
	color: $white;
  }
}
.footer-widgets {
    border-bottom: none;
    padding: $spacer*4 $spacer*2;
    ul, ol {
        @include list-unstyled;
        li {
            margin-bottom: $spacer;
        }
    }
    .widgettitle {
        margin-bottom: $spacer*2;
    }
    &.text-muted {
        .widgettitle {
            color: #fff;
        }
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}
