/* Site Footer
----------------------------------------------------------------------------- */
.site-footer.bg-dark {
  background-color: $blue !important;
}
.site-footer {
  .wrap p {
	color: $white;
  }
    padding: $spacer 1.618em;
    p {
        margin-bottom: 0;
    }
    ul {
        @include list-unstyled;
    }
    a {
        color: $white;
    }
    &.text-muted {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #genesis-footer-widgets {
	.wrap.container-fluid {
	  width: 63%;
	}
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
