/* Site Footer
----------------------------------------------------------------------------- */
.site-footer {
  .wrap p {
	color: $white;
  }
    padding: $spacer 1.618em;
    p {
        margin-bottom: 0;
    }
    ul {
        @include list-unstyled;
    }
    a {
        color: $white;
    }
    &.text-muted {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}
