/* Custom SCSS

    - Default Template
	- Front Page Widgets
	- Front Page News
	- Front Page One
	- Genesis Front Page Loop
	- Hero Section
	- Join Us
	- Images
	- Mid Front Page Slider
	- Nav
----------------------------------------------------------------------------- */

.mt.row {
  margin-top: $marginTopx1 !important;
}

.mb {
  margin-bottom: $marginBottomx1;
}

.mt_med {
  margin-top: $marginTopx2;
}

.mb_med {
  margin-bottom: $marginBottomx2;
}

#sub-nav-fp {
  background-color: $gray;
}
.pl {
  padding-left: 15px;
}
.pr {
  padding-right: 15px;
}

/** Default Template
================================ */
.page-template-default {
  .site-container {
    .site-inner {
      .wrap {
        .content-sidebar-wrap {
          margin: 4.618em 5.5em;
        }
      }
    }
  }
}

/** Front Page News
================================ */
#news-wrapper {
  margin: 1.618em auto;
}
#news-title {
  margin-top: 1.618em;

  .left-col {
	background-color: $brown;
	color: $white;
	padding: 1.618em;
  }
  .right-col {
	background-color: $yellow;
	padding: 1.618em;
  }
}
#fp-news {
  .news-excerpt {
    h3 a {
      color: #000;
      text-decoration: none;
    }
  }
}
#news-widget-area {
  margin: 1em auto;
  text-align: center;
  height: 69%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
	margin: 0;
  }
}

/** Genesis Front Page Loop
================================ */




/** Hero Section
================================ */
#portrait-section {
  #wstPortraitSlider {
    .carousel-inner {
      #portrait-item-one {
        #portrait-hero {
          .row {
            .card-body-wrapper{
              .card-body {
                padding: 4.618em;
                max-height: 900px;
                .card-text {
                  font-size: 1.2rem;
                }
                h1 {
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
      #portrait-item-two {
        #portrait-hero {
          .row {
            .card-body-wrapper{
              .card-body {
                padding: 4.618em;
                max-height: 900px;
                .card-text {
                  font-size: 1.2rem;
                }
                h1 {
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
      #portrait-item-three {
        #portrait-hero {
          .row {
            .card-body-wrapper{
              .card-body {
                padding: 4.618em;
                max-height: 900px;
                .card-text {
                  font-size: 1.2rem;
                }
                h1 {
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}

.zindex-btn {
  z-index: 9999;
  position: relative;
}

.card-text a {
  z-index: 9999;
  position: relative;
}

/* For full-width customizer setting */
.wrap.container-fluid {

  #hero-section {
    width: $fullwidth-plus;
    margin-left: -7.5%;
  }

}
#portrait-hero.card {
  border-radius: 0;
  border: none;
}
#portrait-hero {
  .portrait-image {
    img {
      object-fit: cover;
      max-height: 900px;
    }
    .card-img {
      border-radius: 0;
    }
  }
  .card-body-wrapper {
    display: flex;
  }
  .card-body-wrapper .card-body {
    margin: auto;
  }
  button h5 {
    margin: 0 auto;
  }
}

/** Images
=============================== */
.img-responsive {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/** Join Us
=============================== */
#subscribe-form {
  .form-control {
	border: 1px solid $white;
	border-radius: 0;
  }
  .btn {
	border-radius: 0;
  }
}
.joinus.col-md-3 {
  max-width: 23.8%;
}

.joinus.offset-lg-3 {
  margin-left: 22.6%;
  margin-top: -50px;
}

.joinus {

  h3 {
	background-color: $brown;
	color: $white;
	text-align: center;
	padding: .3em .2em;
	font-size: 3rem;
  }
}

/** Mid Front Page Slider
=============================== */
/*#mid-slider-fp-1,
#mid-slider-fp-2,
#mid-slider-fp-3,
#mid-slider-fp-4 {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    h3 {
      font-size: 4rem;
	  background-color: $blue;
	  padding: .2em 0;
    }
    p {
      font-size: 1.5rem;
	  background-color: rgba(5,5,5,0.5);
	  padding: 0.618em;
    }
  }
}*/

/** Nav
=============================== */
.logged-in.admin-bar {
  .site-container {
    header nav {
      margin-top: 32px;
    }
  }
}

#sub-nav-fp {
  width: $fullwidth-plus;
  margin-left: -7.5%;
  margin-top: -1px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .carousel-caption {
	position: absolute;
	right: 0%;
	bottom: 20px;
	left: 0%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .joinus.col-md-3 {
	max-width: none;
  }
  .joinus.offset-lg-3 {
	margin-left: unset;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mid-slider-fp-1,
  #mid-slider-fp-2,
  #mid-slider-fp-3,
  #mid-slider-fp-4 {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	.carousel-caption {
	  top: 65%;
	  transform: translateY(-50%);
	  bottom: initial;
	  h3 {
		font-size: 2.5rem;
		background-color: $blue;
		padding: .2em 0;
	  }
	  p {
		font-size: 1.2rem;
		background-color: rgba(5,5,5,0.5);
		padding: 0.618em;
	  }
	}
  }



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

