/** Gutenberg
----------------------------------------------- */
/*.entry-content {
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 1rem;
  max-width: calc(100% - 2rem);

  @media only screen and (min-width: 768px) {
	margin: 0 10%;
	max-width: 80%;
  }

  @media only screen and (min-width: 1500px) {
	margin: 0 auto;
	max-width: 1200px;
  }
}*/

.alignfull,
.wp-block-cover.alignfull.has-background-dim {
  left: calc(-1rem - 15px);
  position: relative;

  max-width: 100vw;
  width: 100vw;

  @media only screen and (min-width: 768px) {
	left: calc(-1.25 * (10% + 15px));
  }

  @media only screen and (min-width: 1500px) {
	left: calc(-50vw + 50%);
  }
}
