/** Sidebar Nav
------------------------------------------------------------- */
.nav-link:focus {
  outline: 0 !important;
}
#menu-side-nav {
  .dropdown-menu {
	border: none;
  }
  ul.dropdown-menu.show {
	background-color: transparent;
	li {
	  border: none;
	}
	li a {
	  padding: 0;
	}

	li a:hover,
	li a:focus {
	  background-color: transparent;
	  outline: 0 !important;outline-color: unset !important;
	}
  }
  li {
	list-style-type: none;
  }
}
#menu-slide-in {
  .dropdown-menu {
	border: none;
  }
  ul.dropdown-menu.show {
	background-color: transparent;
	li {
	  border: none;
	}
	li a {
	  padding: 0;
	}
	.nav-link:focus,
	li a:hover,
	li a:focus {
	  background-color: transparent;
	  outline: 0 !important;
	}
  }
  li {
	list-style-type: none;
  }
}

.sidebar-icon {
  font-size:30px;
  cursor:pointer;
  color: $white;
  margin: 0 0.5em 0 1em;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9000;
  top: 0;
  right: 0;
  background-color: rgba(52,58,64,0.90);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: hsla(0,0%,100%,.5);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: $body;}
}
