/* Site Inner
----------------------------------------------------------------------------- */
.site-inner {
  overflow: hidden;
    padding: $spacer*3 0;
    .content {
        margin-bottom: $spacer;
        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }
    }
}

.front-page .site-inner {
  padding: $spacer*0 0 0 0;
}
